<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="com.offcn.pojo.Blog">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="btitle" jdbcType="VARCHAR" property="btitle" />
    <result column="type_fk" jdbcType="INTEGER" property="typeFk" />
    <result column="u_fk" jdbcType="INTEGER" property="uFk" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="bcontent" jdbcType="VARCHAR" property="bcontent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, btitle, type_fk, u_fk, date, bcontent
  </sql>
  <select id="selectByExample" parameterType="com.offcn.pojo.BlogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.offcn.pojo.BlogExample">
    delete from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offcn.pojo.Blog">
    insert into blog (bid, btitle, type_fk, 
      u_fk, date, bcontent)
    values (#{bid,jdbcType=INTEGER}, #{btitle,jdbcType=VARCHAR}, #{typeFk,jdbcType=INTEGER}, 
      #{uFk,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{bcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.offcn.pojo.Blog">
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="btitle != null">
        btitle,
      </if>
      <if test="typeFk != null">
        type_fk,
      </if>
      <if test="uFk != null">
        u_fk,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="bcontent != null">
        bcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="btitle != null">
        #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="typeFk != null">
        #{typeFk,jdbcType=INTEGER},
      </if>
      <if test="uFk != null">
        #{uFk,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="bcontent != null">
        #{bcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offcn.pojo.BlogExample" resultType="java.lang.Long">
    select count(*) from blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update blog
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.btitle != null">
        btitle = #{record.btitle,jdbcType=VARCHAR},
      </if>
      <if test="record.typeFk != null">
        type_fk = #{record.typeFk,jdbcType=INTEGER},
      </if>
      <if test="record.uFk != null">
        u_fk = #{record.uFk,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.bcontent != null">
        bcontent = #{record.bcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update blog
    set bid = #{record.bid,jdbcType=INTEGER},
      btitle = #{record.btitle,jdbcType=VARCHAR},
      type_fk = #{record.typeFk,jdbcType=INTEGER},
      u_fk = #{record.uFk,jdbcType=INTEGER},
      date = #{record.date,jdbcType=DATE},
      bcontent = #{record.bcontent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offcn.pojo.Blog">
    update blog
    <set>
      <if test="btitle != null">
        btitle = #{btitle,jdbcType=VARCHAR},
      </if>
      <if test="typeFk != null">
        type_fk = #{typeFk,jdbcType=INTEGER},
      </if>
      <if test="uFk != null">
        u_fk = #{uFk,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="bcontent != null">
        bcontent = #{bcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offcn.pojo.Blog">
    update blog
    set btitle = #{btitle,jdbcType=VARCHAR},
      type_fk = #{typeFk,jdbcType=INTEGER},
      u_fk = #{uFk,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      bcontent = #{bcontent,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>